.bodyContainer
{
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
  top: 80px;
  align-items: center;
}
h1{
  text-align: center;
  font-family: Inter;
  font-size: 70.65px;
  font-weight: 800;
  text-align: center;
}
.bodyContainer p
{
font-family: Inter;
font-size: 20px;
font-weight: 300;
line-height: 24.2px;
text-align: center;

}
.UnderlineText .underLine
{
  position: relative;
  left: 30px;
  display: flex;
  margin: 0%;
  transform: scale(0.8);
}
.UnderlineText img{
  width: 450px;
  background-image: none;
}
.bubbly
{
  position: absolute;
  top: 205px;
  left: 1230px;
}
.bubbly
{
  position: absolute;
  top: 170px;
  left: 1220px;
}
.DropDown
{
    position: relative;
    height: auto;
    width: 1360px;
    /* height: fit-content; */
    margin-top: 5%;
    /* left: 80px; */
    /* background-color: brown; */
}
.row{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    background-color: blueviolet;
    padding-left: 35px;
    gap:35px;
}
.column1
{  
    position: relative;
    flex: 1;
    height: 100px;
}
.column1 input
{
    position: absolute;
    top:0;
    left: 0px;
    height: 75px;
    width: 585px;
    font-family: "Inter";
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 30px;
     outline: none;
    border: 1px solid rgba(37, 37, 37, 0.5);
    background-color: aqua;
}
.DropMenu
{
  position: absolute;
  top:0;
  left: 0px;
  height: 95px;
  width: 627px;
  font-family: "Inter";
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
  outline: none;
  border: 1px solid rgba(37, 37, 37, 0.5);
}
#ColumnBig
{
  position: relative;
  height: 510px;
  border: 1px;
  box-sizing: border-box;
  text-align: center;
  /* background-color: aqua; */
}
#ColumnBig textarea
{
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  width: 1308px;
  font-family: "Inter";
  padding: 50px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
  text-align: start;
  outline: none;
  border: 1px solid rgba(37, 37, 37, 0.5);
}
 .inputF
 {
  display: inline-block; 
  height:440px;
  width: 100%;
 }
.Placeholder
{
 position: absolute;
 color: rgba(138, 138, 138, 1);
 font-family: Inter;
 font-size: 20px;
 font-weight: 400;
 line-height: 24.2px;
 text-align: center;
}
#ColumnBig p{
  position: absolute;
  top:450px;
  left: 33%;
  color:rgba(37, 37, 37, 0.7);
  font-size: small;
}
.sendEnquiry{
  background: var(--Dark, rgba(37, 37, 37, 1));
  color: white;
  width: 300px;
  height: 50px;
  cursor: pointer;
  font-family: Inter;
  font-size: 17.82px;
  font-weight: 700;
  line-height: 34.53px;
  text-align: center;
  margin-left:50px;
  margin-bottom: 50px;
}