.bodyContainer
{
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
  top: 60px;
  align-items: center;
}
 #starDoodle
{
  position: relative;
  right: 140px;
  transform: scale(0.8);
}
h1{
  text-align: center;
  font-family: Inter;
  font-size: 70.65px;
  font-weight: 800;
  text-align: center;
}

.UnderlineText .underLine
{
  position: relative;
  left: 390px;
  display: flex;
  margin: 0%;
  transform: scale(0.8);
}
.Container{
  display: grid;
  grid-template-columns: auto;
  height: fit-content;
  width: 1400px;
  justify-content: center;
  margin-top: 5%;
  row-gap: 50px;
}
#GridDiv1
{
  height: 550px;
  width: 1280px;
  border:1px solid rgba(220, 20, 60, 0.7);
  background-color:rgba(220, 20, 60, 0.15);
  border-radius: 8px;
}
#GridDiv2
{
  height: 500px;
  width: 1280px;
  border:1px solid rgba(0, 99, 174, 0.7);
  background-color:rgba(0, 99, 174, 0.15);
  border-radius: 8px;
}
#GridDiv3
{
  height: 550px;
  width: 1280px;
  background-color: rgba(98, 28, 45, 0.15);
  border: 1px solid rgba(98, 28, 45, 0.7);
  border-radius: 8px;
}
#GridDiv4
{
  height: 550px;
  width: 1280px;
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid rgba(255, 0, 0, 0.7);
  border-radius: 8px;
}
#GridDiv5
{
  height: 550px;
  width: 1280px;
  background-color: rgba(6, 71, 158, 0.15);
  border: 1px solid rgba(6, 71, 158, 0.7);
  border-radius: 8px;
}
#GridDiv6
{
  height: 550px;
  width: 1280px;
  background-color: rgba(6, 71, 158, 0.15);
  border: 1px solid rgba(6, 71, 158, 0.7);
  border-radius: 8px;
}
