.bodyContainer
{
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
  top: 80px;
  align-items: center;
}
h1{
  text-align: center;
  font-family: Inter;
  font-size: 70.65px;
  font-weight: 800;
  text-align: center;
}
.UnderlineText .underLine
{
  position: relative;
  left: 240px;
  display: flex;
  margin: 0%;
  width: 410px;
}
.bubbly
{
  position: absolute;
  top: 210px;
  left: 1160px;
}
.Container
{
position: relative;
margin-top: 3%;
display: grid;
grid-template-rows: repeat(3,1fr);
grid-template-columns: repeat(2,1fr);
justify-items: start;
align-items: center;
grid-gap: 50px 50px;
margin-bottom: 5%;
}
.Container div{
  position: relative;
  display: inline-block;
  width: 280px;
  height: 360px;
  background:none;
  /* background-color: aqua; */
}
.Container div h3{
  position: absolute;
  top:7%;
  left: 5%;
  background: none;
  font-family: 'Inter';
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  overflow: hidden;
}
.Container p{
  background: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.Container button
{
  position: absolute;
  top:87%;
  left: 5%;
  padding: 15px;
<<<<<<< HEAD
  font-family: Inter;
  font-size: 17.55px;
  font-weight: 400;
  line-height: 20.82px;
=======
  font-family: 'Poppins';
  font-size: 17.55px;
  font-weight: 400;
  line-height: 20.82px;
  text-align: left;
>>>>>>> origin/dibigh
  border: 1px solid var(--Dark, rgba(37, 37, 37, 1));
  cursor: pointer;
  background: none;
  width: Hug (92.55px)px;
  height: Hug (33.64px)px;
  padding: 5.82px 7.27px 5.82px 7.27px;
  border-radius: 3px 3px 3px 3px;
}
<<<<<<< HEAD
=======
.hover_link
{
  text-decoration: none; 
  color:black;
  background: none;
}
.hover_link:hover
{
   transition: 0.3s;
  background-color: var(--Dark, rgba(37, 37, 37, 1));
  color:  rgba(255, 255, 255, 1);
}
>>>>>>> origin/dibigh
button:hover
{
  transition: 0.3s;
  background-color: var(--Dark, rgba(37, 37, 37, 1));
  color: aliceblue;
}
.Container  img{
  margin-top: 5%;
  margin-left:5% ;
  float: left;
}
#item1
{
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: rgba(68, 201, 91, 0.15);
  border: 1px solid rgba(68, 201, 91, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}
#item2
{
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgba(239, 57, 52, 0.15);
  border: 1px solid rgba(239, 57, 52, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}
#item3
{
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgba(47, 134, 235, 0.15);
  border: 1px solid rgba(47, 134, 235, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}
#item4
{
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgba(255, 180, 0, 0.15);
  border: 1px solid rgba(255, 180, 0, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}
#item5
{
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: rgba(220, 20, 60, 0.15);
  border: 1px solid rgba(220, 20, 60, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}
#item6
{
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: rgba(47, 134, 235, 0.15);
  border: 1px solid rgba(47, 134, 235, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}
#item7
{
  grid-row: 4/5;
  grid-column: 1/2;
  background-color: rgba(68, 201, 91, 0.15);
  border:1px solid rgba(68, 201, 91, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}
#item8
{
  grid-row: 4/5;
  grid-column: 2/3;
  background-color: rgba(150, 44, 187, 0.15);
  border:1px solid rgba(150, 44, 187, 0.5);
  width: 630px;
  height: 380px;
  border-radius: 8px;
}