
.bodyContainer
{
  display: flex;
  position: relative;
  height: 478px;
  flex-direction: column;
  top: 60px;
  align-items: center;
 
}

#starDoodle
{
  position: relative;
  right: 140px;
}
button#GetStarted::before {
  content: '';
  display: block;
  background-image: url(../../Photos/Plane\ Doodle.png);
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 248px;
  height: 138px;
  top: -108%;
  left: -158%;
  rotate: 376deg;
}
button#GetStarted {
  position: relative;
  width: 158px;
  height: 50px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(37, 37, 37, 1);
  margin: -t;
  margin-top: 26px;
  cursor: pointer;
}

#h1::before {
  content: '';
  background-image: url(../../Logo/star.svg);
  display: block;
  height: 10%;
  position: absolute;
  width: 11%;
  left: 33%;
  background-size: 100% 100%;
  top: -6%;
  background-repeat: no-repeat;
}

#h1::after {
  content: '';
  background-image: url(../../Photos/Vector.png);
     display: block;
  position: absolute;
  left: 50%;
  top: 17%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 4%;
  width: 36%;
  rotate: 0deg;
}
#h1,#h1sec{
  text-align: center;
  font-family: Inter;
  font-size: 5vw;

  font-weight: 800;
  text-align: center;

}
#paragraph1{
  margin-top: 16px;
}
#paragraph2{
  margin-top: 16px;
}


#BlackContainer
{
  position: relative;
  width: 992px;
  height: 483px;
  gap: 0px;
  opacity: 0px;
  background: var(--Dark, rgba(37, 37, 37, 1));
}
@media screen and (max-width:890px) {
#h1,#h1sec{
  font-size: 6vw;
}
#paragraph1{
  font-size: 14px;
}
#paragraph2{
  font-size: 14px;
}
button#GetStarted {
  width: 103px;
  height: 35px;}
  .bodyContainer
{
  top: 25px;
}
button#GetStarted::before {
  width: 232px;
    height: 138px;
    top: -196%;
    left: -231%;
    rotate: 376deg;
}


}
@media screen and (max-width:705px) {
  #paragraph1{
    font-size: 12px;
  }
  #paragraph2{
    font-size: 12px;
  }
  }
  @media screen and (max-width:575px) {
    #paragraph1{
      font-size: 10px;
    }
    #paragraph2{
      font-size: 10px;
    }
    button#GetStarted {
      width: 85px;
      height: 30px;
      font-size: 12px;
  }
    .bodyContainer
{
  top: 20px;
}
button#GetStarted::before {
  width: 168px;
  height: 111px;
  top: -180%;
  left: -204%;
  rotate: 376deg;
}

#h1::before {
    width: 15%;
    left: 29%;
    top: -6%;
  }
}
  
    @media screen and (max-width:450px) {
      #paragraph1{
        font-size: 8px;
      }
      #paragraph2{
        font-size: 8px;
      }
      button#GetStarted {
        font-size: 10px;
        width: 65px;
        height: 27px;
      }
      button#GetStarted::before {
        width: 134px;
        height: 82px;
        top: -167%;
        left: -214%;
        rotate: 382deg;
    }

    }


    @media screen and (max-width:1290px) { #h1::after {top:19%}.bodyContainer {height: fit-content;padding-bottom: 40px;}}

    @media screen and (max-width:685px) { #h1::after {top:15%; }}
    @media screen and (max-width:450px) { #h1::after {top:12%}}