.bodyContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  flex-direction: column;
  top: 60px;
  align-items: center;
  overflow: hidden;
}
#starDoodle
{
  position: relative;
  right: 140px;
}
h1{
  text-align: center;
  font-family: Inter;
  font-size: 70.65px;
  font-weight: 800;
}

.UnderlineText .underLine
{
  position: relative;
  left: 480px;
  display: flex;
  margin: 0%;
  transform: scale(0.8);
}
.Container
{
position: relative;
/* left:15px; */
margin-top: 3%;
display: grid;
grid-template-rows: repeat(3,1fr);
grid-template-columns: repeat(2,1fr);
justify-items: start;
align-items: center;
grid-gap: 40px 40px;
margin-bottom: 5%;
/* background-color: aqua; */
}
.Container div{
  position: relative;
  display: inline-block;
  width: 250px;
  height: 365px;
  background:none;
}
.Container div h3{
  position: absolute;
  top:7%;
  left: 5%;
  background: none;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: 700;
}
.Container p{
  position: absolute;
  top:20%;
  left: 5%;
  background: none;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-weight: 300;
}
.Container button
{
  position: absolute;
  top:87%;
  left: 5%;
  padding: 15px;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  border: 1px solid var(--Dark, rgba(37, 37, 37, 1));
  cursor: pointer;
  background: none;
  width: Hug (92.55px)px;
  height: Hug (33.64px)px;
  padding: 5.82px 7.27px 5.82px 7.27px;
  border-radius: 3px 3px 3px 3px;
}
.Container  img{
  margin-top: 5%;
  margin-left:5% ;
  float: left;
}
#item1
{
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: rgba(68, 201, 91, 0.15);
  border: 1px solid rgba(68, 201, 91, 0.5);
  width: 615px;
  height: 380px;
  border-radius: 8px;
  text-align: justify;
}
#item2
{
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgba(239, 57, 52, 0.15);
  border: 1px solid rgba(239, 57, 52, 0.5);
  width: 615px;
  height: 380px;
  border-radius: 8px;
  text-align: justify;
}
#item3
{
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgba(47, 134, 235, 0.15);
  border: 1px solid rgba(47, 134, 235, 0.5);
  width: 615px;
  height: 380px;
  border-radius: 8px;
  text-align: justify;
}
#item4
{
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgba(255, 180, 0, 0.15);
  border: 1px solid rgba(255, 180, 0, 0.5);
  width: 615px;
  height: 380px;
  border-radius: 8px;
  text-align: justify;
}
#item5
{
  grid-row: 1/2;
  grid-row: 3/4;
  background-color: rgba(220, 20, 60, 0.15);
  border: 1px solid rgba(220, 20, 60, 0.5);
  width: 615px;
  height: 380px;
  border-radius: 8px;
  text-align: justify;
}
#item6
{
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: rgba(47, 134, 235, 0.15);
  border: 1px solid rgba(47, 134, 235, 0.5);
  width: 615px;
  height: 380px;
  border-radius: 8px;
  text-align: justify;
}
