.bodyContainer
{
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
  top: 60px;
  align-items: center;
}
 #starDoodle
{
  position: relative;
  right: 140px;
  transform: scale(0.8);
}
h1{
  text-align: center;
  font-family: Inter;
  font-size: 70.65px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.UnderlineText .underLine
{
  position: relative;
  left: 30px;
  display: flex;
  margin: 0%;
  transform: scale(0.8);
}
.UnderlineText img{
  width: 450px;
  background-image: none;
}
.PriText
{
  margin-top: 5%;
  box-sizing: border-box;
  height: auto;
  width: 1285px;
  margin-bottom: 5%;
}
.PriText p{
    text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: var(--Dark, rgba(37, 37, 37, 1));
}
ul{
    list-style-position: inside;
}
li{
    margin-left: 10px;
}