#footer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 40px;
}
#FooterPic
{
    position: relative;
    left: 110px;
    height:655px;
    width: 1310px;
    margin-bottom: 80px;
}
#Pic 
{
    max-width: 1300px;
    max-height: 620px;
    width: 1295px;
    transform: scale(1.045);
    background: transparent;
}   
#SearchBar{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#SearchBar p{
    font-family: Playfair Display;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2%;
}
#SearchBar span{
    font-family: Playfair Display;
    font-size: 55px;
    font-weight: 700;
}
#SearchContainer
{
    display: flex;
    align-self: center;
}
#SearchBar input
{
width: 1012px;
height: 55px;
border-radius: 40px 0px 0px 40px;
font-family: 'Poppins';
font-size: 20px;
font-weight: 300;
line-height: 24px;
text-align: left;
padding-left: 30px;
border-right: none;
outline: none;
border: 1px solid var(--Dark, rgba(37, 37, 37, 1));
}
#SearchBar button
{
    margin-left: 0px;
    display: flex;
    cursor: pointer;
    width: 191px;
    height: 56px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    border-radius: 0px 40px 40px 0px;
    background-color: rgba(37, 37, 37, 1);
    border: none;
}
#footercontent{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(11, 11, 11, 1);

}
#frame{
    background-color: rgba(11, 11, 11, 1); 
    width: 218px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 2%;

}
#framelogo{
    background-color: rgba(11, 11, 11, 1); 
    display: flex;
    align-items: center;
    gap: 5px;
}
img#framelogo1 {
    width: 150px;
    height: 80px;
    background-color: rgba(11, 11, 11, 1);
}
#frametext>p{
    background-color: rgba(11, 11, 11, 1);
    color: rgba(246, 245, 244, 1)  
}
#frameicon{
    background-color: rgba(11, 11, 11, 1);
}
#icons{
    background-color: rgba(11, 11, 11, 1);  
}
#content{
    display: flex;
    flex: 1;
    background-color: rgba(11, 11, 11, 1);
    margin-top: 30px;
    width: 90%;
}

#footermenu{
    display: flex;
    flex: 1;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(11, 11, 11, 1);
    justify-content: space-evenly;
}

#separatingline{
    margin-top: 5%;
    width:90%;
    height: 1px;
    opacity:30%;
    background-color: rgba(224, 237, 255, 0.6);
}
#CopyRights{
    width: 317px;
    height: 60px;
    background: none;
}
#CopyRights p{
    width: 100%;
    height: 100%;
    color: rgba(246, 245, 244, 0.7);
    background-color: rgba(11, 11, 11, 1);
     display: flex;
    justify-content: center;
    align-items: center;
}
#services {
    margin-top: 20px;
    background-color: rgba(11, 11, 11, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
#services p
{
    background-color: rgba(11, 11, 11, 1);
}
#products {
    margin-top: 20px;
    background-color: rgba(11, 11, 11, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}
#products p
{
    background-color: rgba(11, 11, 11, 1);
}
#industries {
    margin-top: 20px;
     background-color: rgba(11, 11, 11, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}
#industries p{
    background-color: rgba(11, 11, 11, 1);
}
#company {
    margin-top: 20px;
     background-color: rgba(11, 11, 11, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}
#company p
{
    background-color: rgba(11, 11, 11, 1);
}
#footermenu h3{
    background: none;
}
@media screen and (max-width:1440px) 
{
    #FooterPic
    {
    overflow: hidden;
    position: relative;
    left: 70px;
    height:620px;
    width: 1300px;
    margin-bottom: 5%;
    margin-top: 5%;
    }
    #Pic 
    {
    width: 100%;
    height: 100%;
    background: transparent;
    } 
    #SearchBar{
    margin-bottom: 5%;
    }

#SearchBar p{
    font-size: 45px;
}
#SearchBar span{
    font-size: 45px;
}
#SearchBar input
{
width: 980px;
height: 55px;
}
#SearchBar button
{
    width: 191px;
    height: 56px;
    font-size: 16px;
}
    #footer
    {
        font-size: 13px;
    }
    #content
    {
        gap:10px;
        width: 100%;
        padding: 0px 5px;
    }
    img#framelogo1 
    {
        width: 170px;
        height: 60px;
        object-fit: contain;
    }
#icons {
    width: 120px;
    object-fit: contain;
}
#frame{
width: 260px;
margin-left: 70px;
}
}
@media screen and (max-width:1024px) {
    #FooterPic
{
    position: relative;
    left: 50px;
    height:420px;
    width: 922px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: aqua;
}
 #FooterPic img
 {
    height: fit-content;
 }

 #frameicon
{
    width: 130px;
}
   #SearchBar p{
    font-size: 35px;
}
#SearchBar span{
    font-size: 35px;
}
#SearchBar input
{
width: 700px;
height: 55px;
font-size: 16px;
}
#SearchBar button
{
    width: 191px;
    height: 57px;
    font-size: 16px;
}
#framelogo img
{
    width: 150px;
}
#frame
    {
        margin-left: 50px;
    }
#footercontent p
    {
        font-size: 13px;
    }
}
@media screen and (max-width:850px) {
#FooterPic
{
    position: relative;
    left: 50px;
    height:320px;
    width: 660px;
    margin-bottom: 5%;
    background-color: aqua;
}
 #FooterPic img
 {
    height: fit-content;
 }
 #SearchBar p{
    font-size: 30px;
}
#SearchBar span{
    font-size: 30px;
}
#SearchBar input
{
width: 455px;
height: 45px;
font-size: 16px;
}
#SearchBar button
{
    width: 170px;
    height: 47px;
    font-size: 16px;
}
#framelogo img
{
    width: 120px;
}
#frameicon
{
    width: 150px;
}
#frame
    {
        margin-left: 45px;
        width: 240px;
    }
#footercontent p
    {
        font-size: 12px;
    }
    #services
    {
        width: 120px;
    }
    #products
    {
        width: 120px;
    }
    #industries
    {
        width: 120px;
    }
}

@media screen and (max-width:540px) {
#FooterPic
{
    margin-top: 60px;
    position: relative;
    left:32px;
    height:170px;
    width: 360px;
    margin-bottom: 40px;
    background-color: aqua;
}
 #FooterPic img
 {
    height: fit-content;
 }
   #SearchBar p{
    font-size: 20px;
}
#SearchBar span{
    font-size: 20px;
}
#SearchBar input
{
width: 230px;
height: 30px;
font-size: 12px;
}
#SearchBar button
{
    width: 85px;
    height: 32px;
    font-size: 12px;
}
#frame{
margin-left: 35px;
width: 100%;
}
#framelogo img{
    width: 140px;
}

#content p{
     font-size: 16px;
}
#frameicon{
    width: 180px;
}
#content{
    display: flex;
    flex-direction: column;
    background-color: rgba(11, 11, 11, 1);
    margin-top: 30px;
    width: 100%;
}
#content h3
{
    font-size: 30px;
}
#footermenu{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(11, 11, 11, 1);
    justify-content: space-evenly;
}
#services
{
    width: 100%;
}
#products
{
    width: 100%;
}
#company
{
    width: 100%;
}
#industries
{
    width: 100%;
}#frametext
{
    width: 270px;
}
}
@media screen and (max-width:380px) {
#FooterPic
{
    position: relative;
    left:33px;
    height:145px;
    width: 306px;
    background-color: aqua;
}
 #FooterPic img
 {
    height: fit-content;
 }
     #SearchBar p{
    font-size: 14px;
}
#SearchBar span{
    font-size: 14px;
}
#SearchBar input
{
width: 160px;
height: 20px;
font-size: 10px;
padding-left: 10px;
}
#SearchBar button
{
    width: 60px;
    height: 22px;
    font-size: 8px;
}
#frametext
{
    width: 250px;
}
#frame
    {
        margin-left: 30px;
        width: 240px;
    }
    #footermenu
    {
        margin-left: 30px;
    }
}
@media screen and (max-width:350px) {
#FooterPic
{
    position: relative;
    left:30px;
    height:120px;
    width: 260px;
    background-color: aqua;
}
 #FooterPic img
 {
    height: fit-content;
 }
#frame
    {
        margin-left: 30px;
        width: 240px;
    }
    #footermenu
    {
        margin-left: 30px;
    }
}